* {
    margin: 0;
}

.area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    margin: 10px;
    padding: 15px;
}

.imagem6 {
    transition: all .5s;
    border: 0px solid #eeeeee;
    width: 300px;
    height: 300px;
}

.imagem6:hover {
    border: 0px solid #781f40;
    border-radius: 50%;
    -webkit-filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 7px 1px rgba(0, 0, 0, .5));
    -webkit-transform: rotateZ(-360deg) scale(1.5);
    transform: rotateZ(-360deg) scale(1.5);
}

.imagem5 {
    transition: all .5s;
    border: 10px solid transparent;
    width: 300px;
    height: 300px;
}

.imagem5:hover {
    border: 10px solid #136497;
    border-radius: 50%;
}

.imagem4 {
    transition: all 0.5s;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.imagem4:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}

.imagem3 {
    transition: all 0.5s;
    cursor: pointer;
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

.imagem3:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.imagem2 {
    transition: all 0.5s;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

.imagem2:hover {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.imagem1 {
    transition: all 1s;
    cursor: pointer;
    width: 300px;
    height: 300px;
    padding-left: 10px;
}

.imagem1:hover {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

.imagem0:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.imagem0 {
    transition: all 1s;
    cursor: pointer;
    width: 300px;
    height: 300px;
    padding-left: 10px;
}